.wrapper{
    width: 100vw;
    height: 100vh;
}

@media (min-width: 320px) and (max-width: 412px) {
    body{
        background-color: #fab9d1;
        background-image: linear-gradient(23deg, #fab9d1 0%, #c19ffe 100%);
    }
}

@media (min-width: 413px){
    body{
        background-color: yellow;
    }
}
